@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@800&family=Hind+Siliguri:wght@300&family=Indie+Flower&family=Patrick+Hand&display=swap');

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body{
  background-color: #B6C5F2;
  font-family: "Gluten";
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  padding-top: 7.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  
}

.new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 95px;
  color: #3B4259;
  text-shadow: 4px 4px 4px #8E9ABF;
  margin-bottom: 15px;
}

.new-task input,
.new-task textarea {
  background-color: #8E9ABF;
  color: white;
  padding: 0.3em;
  font-size: 30px;
  font-family: cursive;
  width: 60%;
  margin: 7px;
}
.new-task input:focus,
.new-task textarea:focus {
  outline: 0px;
}

button {
  font-family: "Patrick Hand";
  font-weight: bolder;
  font-size: 30px;
  color: #f1f4ff;
  border-radius: 5px;
  width: 25%;
  height: 40px;
  cursor: pointer;
  background-color: #30395580;
  margin: 3px;
}

h2 {
    font-family: "Patrick Hand";
    font-size: 80px;
    color: #3B4259;
    text-shadow: 4px 4px 4px #8E9ABF;
    margin-bottom: 15px;
  }

.list-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.item {
  display: flex;
  align-items: center;
}

.right {
  width: 89%;
  display: flex;
  align-items: center;
  font-family: "Hind Siliguri";
  font-size: 25px;
}
.right p {
  padding-left: 0.5em;
}

.left {
  width: 10%;
  display: flex;
  padding-right: 0px;
}

img {
  width: 25px;
}

.left img {
  margin: 2px;
  cursor: pointer;
}

#task-detail-dialog::backdrop {
  background-color: #96cea88c;
}
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
dialog[open] {
  background-color: transparent;
  color: #3B4259;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-detail {
  background-color: white;
  
  width: 100%;
  min-height: 25rem;
  padding: 2em;
  border-radius: 10px;
}
.task-detail__title {
  font-size: 2em;
  text-align: center;
  margin-right: 2em;
}
.task-detail__description {
  font-family: "Lucida Sans";
  margin-top: 2em;
}
.task-detail__complete {
  margin-top: 1em;
}
.close-dialog {
  text-align: end;
  cursor: pointer;
}

.edit-form-container {
  margin-top: 2em;
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: center;
  
}
.edit-form-container input {
  padding: 0.5em 1em;
  width: 90%;
  margin-bottom: 1em;
  font-size: 30px;
}
.edit-form-container textarea {
  padding: 0.5em 1em;
  width: 90%;
  min-height: 2rem;
  font-size: 30px;
}
.edit-form-container button {
  width: 50%;
  margin-top: 2em;
}

